@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');
font
div {
    max-width: 1600px;
    margin: 0 auto;
}
h1 {
    margin: 50px 0;
    font-size: 2em;
    margin-top: 10px;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 25px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: yellow;  
}
header {
    background-color: #25283d;
}
nav a:hover {
    background-color: #75844f;
    color: white
}
.book, .join {
    background-color: #ec9f05;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
#background {
    background-color: #BFEDEF;
}
.msg {
    background-color: #F2EFEA;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color:  #F2EFEA;
    margin-top: 300px;
}
.home-title {
    color: black;
}
h4 {
    color: black;
}
.book, .join {
    color: black;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: black;
}
.msg h2 {
    color: black;
    margin: 0;
}
.msg p {
    color: black;
    font-size: 1em;
    padding-bottom: 15px;
}
footer {
    background-color: steelblue;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
    padding: 25px;
}
footer p a:hover {
    text-decoration: underline;
}
.card-img {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 30px;
    border-color: #ec9f05;
}
nav {
    background-color: steelblue;
}
nav {
    padding: 25px;
}
p {
    margin: 50px auto;
}
body {
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding-top: 5px;
}
