@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins&display=swap');
header {
    background-color: #BA3B46;
    align-items: center;
}
body {
    background-color:#F2B7C6;
    font-size: 18px;
    padding: 0;
    align-items: center;
}
body { font-family: 'Libre Franklin', sans-serif; 
}
h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif;
}
.home-title {
    color: #000;
}
.logo {
    width: 100px;
}
#logo_link {
    align-self: center;
    justify-self: center;
    margin: 0;
}
.home-msg {
    display: grid;
    grid-template:auto;
    grid-template-columns: repeat(10, 1fr);
    gap: 50px 10px;
}
.home-msg p {
    grid-column: 2/10;
}
.home-msg h1 {
    grid-column: 1/-1;
}
nav a {
    text-align: center;
    color:#000;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #FF9505; 
}
nav a {
    float: right;
}
nav a {
    display: block;
    
}
header {
    display: grid;
    grid-template-columns: 150px auto;
} 
h1 {
    margin: 50px 0;
    font-size: 2em;
    margin-top: 10px; 
    text-align: center; 
}
p {
    margin: 2em;
}
main section {
    text-align: center;
}
.house-image {
   grid-column: 2/10;
   width: 100%;
}
.housing-img {
    grid-column: 4/8;
    justify-self: center;   
}
footer {
    background-color: #BA3B46;
    padding: 25px 50px;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a { color: #fff;
     text-decoration: none,
 }
footer p {
    font-size: 1.2em;
    padding: 25px;
    color: white;
}
footer p a:hover {
     text-decoration: underline;
     color: #FF9505; }

/* <-- --------page2-------------------- --> */
#housing {
    width: 500px;
    height: 400px;
    margin: 0 57px;
    align-items: center;
    margin-top: 20px;
}
#housing-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.value-msg {
    display: grid;
    grid-template: auto;
    /* grid-template-columns: repeat(10, 1fr); */
}
.value-msg h1 {
    margin: 0px;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 32px;
    text-align: left;
}
/* <-- --------page3------------- --> */
#content {
    max-width: 1600px;
    margin:  auto;
    display: grid;
}
#p {
    text-align: center;
} 
#housing-image {
    width: 800px;
    height: 500px;
    display: block;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto; 
}
