#content {
    max-width: 1600px;
    margin:  auto;
    display: grid;
}
body {
    background-color:#F2B7C6;
    font-size: 18px;
    padding: 0;
    align-items: center;
}
.home-title {
    color: #000;
}
.logo {
    width: 100px;
}
#logo_link {
    align-self: center;
    justify-self: center;
    margin: 0;
}
.home-msg {
    display: grid;
    grid-template:auto;
    grid-template-columns: repeat(10, 1fr);
    gap: 50px 10px;
}
.home-msg p {
    grid-column: 2/10;
}
.home-msg h1 {
    grid-column: 1/-1;
}
nav a {
    text-align: center;
    color:#000;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #BF6900; 
}
nav a {
    float: right;
}
nav a {
    display: block;
    
}
header {
    display: grid;
    grid-template-columns: 150px auto;
} 
h1 {
    margin: 50px 0;
    font-size: 2em;
    margin-top: 10px; 
    text-align: center; 
}
p {
    margin: 2em;
}
main section {
    text-align: center;
}
.house-image {
   grid-column: 2/10;
   width: 100%;
}
.housing-img {
    grid-column: 4/8;
    justify-self: center;   
}
footer {
    background-color: #BA3B46;
    padding: 25px 50px;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    color: white
}
footer p {
    font-size: 1.2em;
    padding: 25px;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
