h1 {
    font-size:  170%;
    text-align: right;

}
h2 {
    font-size: 120%;
    text-align: right;

}
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:10px solid rgba(60, 58, 61, 0.868);
    margin-top: 160px;

}
img {
    float:left;
}
img {
    align-content: center;
}